layout: index
description: sogeBot is free Twitch Bot built on Node.js.
subtitle: Free Twitch Bot built on Node.js
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline database fas %}
      h3.intro-feature-title PostgreSQL, SQLite3, MySQL
      p.intro-feature-desc We are supporting several database engines to use with our bot!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline pencil-alt fas %}
      h3.intro-feature-title Customizable
      p.intro-feature-desc Almost everything can be customized in this bot. Custom languages, overlays, alerts.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline docker fab %}
      h3.intro-feature-title Docker Deployment
      p.intro-feature-desc Nightlies and release can be obtained and run with docker.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline cog fas %}
      h3.intro-feature-title Integrations
      p.intro-feature-desc Features several integrations. StreamLabs, TipeeeStream, Twitch, DonationAlerts and more!