layout: index
description: The offical website of sogeBot.
subtitle: Free Twitch Bot built on Node.js
comments: false
---

ul.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline tachometer-alt fas %}
      h3.intro-feature-title Easy to use dashboard
      p.intro-feature-desc Set your title, game. Use many of widgets in our amazing easy to use dashboard.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline question-circle fas %}
      h3.intro-feature-title Quick support
      p.intro-feature-desc Do you need help? Ask your questions on discord, community forum and get your answers quick! Do you need bot change? Feel free to ask for new features!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline plug fas %}
      h3.intro-feature-title So. Many. Integrations
      div.intro-feature-desc
        p Features several integrations. Share your stream status on Twitter. Get donation data from Streamlabs, StreamElements and more!

div.integrations
  a(href="https://www.donationalerts.com/" target="_blank")
    img(src="/images/logo/donationalerts.png" height=50)
  a(href="https://www.qiwi.com/" target="_blank")
    img(src="/images/logo/qiwi.png" height=50)
  a(href="https://www.spotify.com/" target="_blank")
    img(src="/images/logo/spotify.png" height=50)
  a(href="https://www.streamelements.com/" target="_blank")
    img(src="/images/logo/streamelements.png" height=50)
  a(href="https://www.streamlabs.com/" target="_blank")
    img(src="/images/logo/streamlabs.png" height=50)
  a(href="https://www.tipeeestream.com/" target="_blank")
    img(src="/images/logo/tipeeestream.png" height=50)
  a(href="https://www.twitter.com/" target="_blank")
    img(src="/images/logo/twitter.png" height=50)

ul.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline dice fas %}
      h3.intro-feature-title Raffles, Polls
      p.intro-feature-desc Make a great giveaways. Ask your users and make them part of your stream!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline gamepad fas %}
      h3.intro-feature-title Chat games
      p.intro-feature-desc Wheel of Fortune, Betting, Heists, Duel, Roulette
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline key fas %}
      h3.intro-feature-title Advanced permission system
      p.intro-feature-desc Set permission by watched time, if user is follower/subscriber and many more!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline calendar-alt fas %}
      h3.intro-feature-title Events system
      p.intro-feature-desc Set commands or other actions as response to various events!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline users fas %}
      h3.intro-feature-title Loyalty system
      p.intro-feature-desc Let users hoard a lot of points, which they can lose in raffles or other chat games!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline closed-captioning fas %}
      h3.intro-feature-title Overlays
      p.intro-feature-desc Lot of overlays. Alerts, Eventlist, Randomizer and many more!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline cog fas %}
      h3.intro-feature-title Excellent customization
      p.intro-feature-desc Almost everything can be customized in this bot. Custom languages, overlays, alerts.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline database fas %}
      h3.intro-feature-title PostgreSQL, SQLite3, MySQL
      p.intro-feature-desc We are supporting several database engines to use with our bot!
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline docker fab %}
      h3.intro-feature-title Docker Deployment
      p.intro-feature-desc Nightlies and release can be obtained and run with docker.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        {% fa_inline language fas %}
      h3.intro-feature-title Multiple languages
      p.intro-feature-desc Čeština, English, Deutsch, русский. Help us to expand our languages at our&nbsp;
        a(href='https://crowdin.com/project/sogebot') community translation site
